### Objetivo: modelo de previsão de vendas
##### Autor: Yan Sym

#### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score, KFold, StratifiedKFold, TimeSeriesSplit
from sklearn.metrics import mean_absolute_error, mean_squared_error, make_scorer
from hyperopt import fmin, hp, tpe
from math import sqrt
import lightgbm as lgb
import warnings
import random
import gc

pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
%matplotlib inline

#### Variáveis globais e parâmetros

In [2]:
random_seed = 42
n_fold = 5

params = {'num_leaves': 8,
          'learning_rate': 0.05,
          'subsample': 0.85,
          'feature_fraction': 0.85,
          'boosting_type': 'gbdt',
          'n_jobs': 3,
          'max_depth': -1,
          "metric": 'rmse',
          'random_state': 42,
          'reg_lambda': 10}

lista_vars_explicativas = ['cod_municipio',
'mes',
'qtde_media',
'qtde_soma',
'qtde_max',
'qtde_min',
'feature_04',
'feature_08',
'feature_09',
'feature_14',
'feature_18',
'feature_04_vezes_06',
'receita_target_lag_12_meses',
'receita_loja_std_3_meses',
'receita_target_media_movel_3_meses',
'receita_total_loja_anomes',
'receita_loja_media_movel_3_meses',
'soma_quantidade_items_loja_media_movel_3_meses',
'receita_loja_lag_1']

#### Métodos

In [3]:
# métricas de erro
def mae_score(true, pred):
    return mean_absolute_error(true, pred)

def mse_score(true, pred):
    return mean_squared_error(true, pred)

def rmse_score(true, pred):
    return (sqrt(mean_squared_error(true, pred)))

#### Leitura de bases

In [4]:
df_lojas = pd.read_csv('lojas_atuais.csv')
print (df_lojas.shape)
df_lojas.head()

(3130, 21)

   cod_loja         cod_ap  cod_municipio           feature_01           feature_02  feature_03  feature_04           feature_05  feature_06  feature_07  feature_08   feature_09  feature_10           feature_11           feature_12  feature_13  feature_14  feature_15  feature_16  feature_17  feature_18
0         1  4125506005002        4125506                  NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659   115.958848    2.349821                  NaN                  NaN         NaN         NaN         NaN         NaN         NaN         NaN
1         2  5300108005004        5300108                  NaN  FEATURE_02_VALUE_03        True       22.00  FEATURE_05_VALUE_03          27    0.215967    0.197287  1562.674817    3.670883                  NaN                  NaN         NaN         NaN         NaN         NaN         NaN         NaN
2         3  3550308005052        3550308                  NaN  FEATURE_02_VALUE_03        True       45.66  FEATURE_05_VALUE_03           6    0.190102    0.179140  5593.905463    2.815883                  NaN                  NaN         NaN         NaN         NaN         NaN         NaN         NaN
3         4  3145604003002        3145604                  NaN  FEATURE_02_VALUE_04       False       30.00  FEATURE_05_VALUE_03           3    0.141988    0.143677    12.824022    7.218132                  NaN                  NaN         NaN         NaN         NaN         NaN         NaN         NaN
4         5  1600303005010        1600303  FEATURE_01_VALUE_10  FEATURE_02_VALUE_02       False       62.49  FEATURE_05_VALUE_03          30    0.107619    0.103083   325.531120    1.972944  FEATURE_11_VALUE_02  FEATURE_12_VALUE_01       100.0        88.1       100.0       100.0        88.5        93.8

In [5]:
df_faturamento = pd.read_csv('faturamento_lojas_atuais.csv')
print (df_faturamento.shape)
df_faturamento.head()

(1003094, 6)

   cod_loja   ano  mes categoria   qtde   receita
0         1  2016    1  CATEG_01  301.0   9164.86
1         1  2016    2  CATEG_01  187.0   8175.55
2         1  2016    3  CATEG_01  242.0  10521.67
3         1  2016    4  CATEG_01  104.0   4560.91
4         1  2016    5  CATEG_01  100.0   4263.30

#### engenharia de variáveis explicativas

In [6]:
df_lojas['feature_04_vezes_06'] = df_lojas['feature_04'] * df_lojas['feature_06']

#### Agrupamento de produtos por loja

In [7]:
df_faturamento['ano_mes'] = df_faturamento['ano'].map(str) + df_faturamento['mes'].map(str).str.zfill(2)
df_faturamento['ano_mes'] = pd.to_datetime(df_faturamento['ano_mes'], format='%Y%m')

In [8]:
df_quantidade_anomes = pd.DataFrame(df_faturamento.groupby(['cod_loja', 'ano', 'mes']).\
                                    agg({'qtde': ['sum', 'mean', 'max', 'min']})).reset_index()

df_quantidade_anomes.columns = ['cod_loja', 'ano', 'mes', 'qtde_soma', 'qtde_media', 'qtde_min', 'qtde_max']

df_faturamento_medio_loja_anomes = pd.DataFrame(df_faturamento.groupby(['cod_loja', 'ano', 'mes'])['receita'].sum()).reset_index()
df_faturamento_medio_loja_anomes.columns = ['cod_loja', 'ano', 'mes', 'receita_total_loja_anomes']

df_faturamento = pd.merge(df_faturamento_medio_loja_anomes,
                          df_quantidade_anomes,
                          on=['cod_loja', 'ano', 'mes'],
                          how='inner')

In [9]:
df_faturamento['ano_mes'] = df_faturamento['ano'].map(str) + df_faturamento['mes'].map(str).str.zfill(2)
df_faturamento['ano_mes'] = pd.to_datetime(df_faturamento['ano_mes'], format='%Y%m')
df_faturamento['ano_mes'].value_counts(dropna=False)

2017-12-01    3123
2017-11-01    3108
2017-10-01    3100
2017-08-01    3093
2017-09-01    3092
2017-07-01    3091
2017-06-01    3088
2017-01-01    3087
2017-05-01    3087
2017-03-01    3084
2016-12-01    3083
2017-02-01    3083
2017-04-01    3078
2016-11-01    3064
2016-10-01    3049
2016-08-01    3048
2016-09-01    3048
2016-07-01    3046
2016-06-01    3041
2016-05-01    3036
2016-04-01    3031
2016-01-01    3029
2016-03-01    3028
2016-02-01    3027
Name: ano_mes, dtype: int64

In [10]:
df_faturamento.head()

   cod_loja   ano  mes  receita_total_loja_anomes  qtde_soma   qtde_media  qtde_min  qtde_max    ano_mes
0         1  2016    1                  441833.37    13034.0   931.000000    3820.0      24.0 2016-01-01
1         1  2016    2                  395340.22    11411.0   815.071429    2637.0      24.0 2016-02-01
2         1  2016    3                  587810.18    15030.0  1073.571429    4251.0      71.0 2016-03-01
3         1  2016    4                  534618.84    12726.0   909.000000    3688.0       7.0 2016-04-01
4         1  2016    5                  595477.92    13978.0   998.428571    4345.0      84.0 2016-05-01

In [11]:
df_faturamento['receita_m1'] = df_faturamento.groupby('cod_loja')['receita_total_loja_anomes'].transform(lambda x: x.shift(-1))
df_faturamento['receita_m2'] = df_faturamento.groupby('cod_loja')['receita_total_loja_anomes'].transform(lambda x: x.shift(-2))
df_faturamento['receita_m3'] = df_faturamento.groupby('cod_loja')['receita_total_loja_anomes'].transform(lambda x: x.shift(-3))
df_faturamento['receita_target'] = (df_faturamento['receita_m1'] + df_faturamento['receita_m2'] + df_faturamento['receita_m3'])/3

In [12]:
df_media_movel1 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['qtde_soma'].transform(lambda x: x.rolling(3).mean()))

df_media_movel2 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_total_loja_anomes'].transform(lambda x: x.rolling(3).std()))

df_media_movel3 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_total_loja_anomes'].transform(lambda x: x.rolling(3).mean()))

df_media_movel4 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_total_loja_anomes'].transform(lambda x: x.shift(6)))

df_media_movel5 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_total_loja_anomes'].transform(lambda x: x.shift(12)))

df_media_movel6 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_target'].transform(lambda x: x.rolling(3).mean()))

df_media_movel7 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_target'].transform(lambda x: x.rolling(6).mean()))

df_media_movel8 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_target'].transform(lambda x: x.shift(12)))

df_media_movel9 = pd.DataFrame(df_faturamento.groupby(['cod_loja'])\
                              ['receita_target'].transform(lambda x: x.shift(1)))

df_faturamento['soma_quantidade_items_loja_media_movel_3_meses'] = df_media_movel1['qtde_soma'].values.tolist()
df_faturamento['receita_loja_std_3_meses'] = df_media_movel2['receita_total_loja_anomes'].values.tolist()
df_faturamento['receita_loja_media_movel_3_meses'] = df_media_movel3['receita_total_loja_anomes'].values.tolist()
df_faturamento['receita_loja_lag_6_meses'] = df_media_movel4['receita_total_loja_anomes'].values.tolist()
df_faturamento['receita_loja_lag_12_meses'] = df_media_movel5['receita_total_loja_anomes'].values.tolist()
df_faturamento['receita_target_media_movel_3_meses'] = df_media_movel6['receita_target'].values.tolist()
df_faturamento['receita_target_media_movel_6_meses'] = df_media_movel7['receita_target'].values.tolist()
df_faturamento['receita_target_lag_12_meses'] = df_media_movel8['receita_target'].values.tolist()
df_faturamento['receita_loja_lag_1'] = df_media_movel9['receita_target'].values.tolist()

df_faturamento.head(10)

   cod_loja   ano  mes  receita_total_loja_anomes  qtde_soma   qtde_media  qtde_min  qtde_max    ano_mes  receita_m1  receita_m2  receita_m3  receita_target  soma_quantidade_items_loja_media_movel_3_meses  receita_loja_std_3_meses  receita_loja_media_movel_3_meses  receita_loja_lag_6_meses  receita_loja_lag_12_meses  receita_target_media_movel_3_meses  receita_target_media_movel_6_meses  receita_target_lag_12_meses  receita_loja_lag_1
0         1  2016    1                  441833.37    13034.0   931.000000    3820.0      24.0 2016-01-01   395340.22   587810.18   534618.84   505923.080000                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN                 NaN
1         1  2016    2                  395340.22    11411.0   815.071429    2637.0      24.0 2016-02-01   587810.18   534618.84   595477.92   572635.646667                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN       505923.080000
2         1  2016    3                  587810.18    15030.0  1073.571429    4251.0      71.0 2016-03-01   534618.84   595477.92   589947.05   573347.936667                                    13158.333333             100428.687433                     474994.590000                       NaN                        NaN                       550635.554444                                 NaN                          NaN       572635.646667
3         1  2016    4                  534618.84    12726.0   909.000000    3688.0       7.0 2016-04-01   595477.92   589947.05   563814.03   583079.666667                                    13055.666667              99391.933058                     505923.080000                       NaN                        NaN                       576354.416667                                 NaN                          NaN       573347.936667
4         1  2016    5                  595477.92    13978.0   998.428571    4345.0      84.0 2016-05-01   589947.05   563814.03   625181.36   592980.813333                                    13911.333333              33145.991477                     572635.646667                       NaN                        NaN                       583136.138889                                 NaN                          NaN       583079.666667
5         1  2016    6                  589947.05    14693.0  1049.500000    3894.0      95.0 2016-06-01   563814.03   625181.36   583509.12   590834.836667                                    13799.000000              33654.194794                     573347.936667                       NaN                        NaN                       588965.105556                       569800.330000                          NaN       592980.813333
6         1  2016    7                  563814.03    13570.0   969.285714    3437.0      90.0 2016-07-01   625181.36   583509.12   611797.30   606829.260000                                    14080.333333              16912.161242                     583079.666667                 441833.37                        NaN                       596881.636667                       586618.026667                          NaN       590834.836667
7         1  2016    8                  625181.36    13889.0   992.071429    4159.0      81.0 2016-08-01   583509.12   611797.30   876921.63   690742.683333                                    14050.666667              30795.942717                     592980.813333                 395340.22                        NaN                       629468.926667                       606302.532778                          NaN       606829.260000
8         1  2016    9                  583509.12    13309.0   950.642857    3924.0      90.0 2016-09-01   611797.30   876921.63  1257613.00   915443.976667                                    13589.333333              31332.680883                     590834.836667                 587810.18                        NaN                       737671.973333                       663318.539444                          NaN       690742.683333
9         1  2016   10                  611797.30    14709.0  1131.461538    3907.0      79.0 2016-10-01   876921.63  1257613.00   404108.77   846214.466667                                    13969.000000              21275.689477                     606829.260000                 534618.84                        NaN                       817467.042222                       707174.339444                          NaN       915443.976667

In [13]:
df_faturamento.shape

(73644, 22)

In [14]:
df_faturamento.head(100)

    cod_loja   ano  mes  receita_total_loja_anomes  qtde_soma   qtde_media  qtde_min  qtde_max    ano_mes  receita_m1  receita_m2  receita_m3  receita_target  soma_quantidade_items_loja_media_movel_3_meses  receita_loja_std_3_meses  receita_loja_media_movel_3_meses  receita_loja_lag_6_meses  receita_loja_lag_12_meses  receita_target_media_movel_3_meses  receita_target_media_movel_6_meses  receita_target_lag_12_meses  receita_loja_lag_1
0          1  2016    1                  441833.37    13034.0   931.000000    3820.0      24.0 2016-01-01   395340.22   587810.18   534618.84   505923.080000                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN                 NaN
1          1  2016    2                  395340.22    11411.0   815.071429    2637.0      24.0 2016-02-01   587810.18   534618.84   595477.92   572635.646667                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN       505923.080000
2          1  2016    3                  587810.18    15030.0  1073.571429    4251.0      71.0 2016-03-01   534618.84   595477.92   589947.05   573347.936667                                    13158.333333             100428.687433                     474994.590000                       NaN                        NaN                       550635.554444                                 NaN                          NaN       572635.646667
3          1  2016    4                  534618.84    12726.0   909.000000    3688.0       7.0 2016-04-01   595477.92   589947.05   563814.03   583079.666667                                    13055.666667              99391.933058                     505923.080000                       NaN                        NaN                       576354.416667                                 NaN                          NaN       573347.936667
4          1  2016    5                  595477.92    13978.0   998.428571    4345.0      84.0 2016-05-01   589947.05   563814.03   625181.36   592980.813333                                    13911.333333              33145.991477                     572635.646667                       NaN                        NaN                       583136.138889                                 NaN                          NaN       583079.666667
..       ...   ...  ...                        ...        ...          ...       ...       ...        ...         ...         ...         ...             ...                                             ...                       ...                               ...                       ...                        ...                                 ...                                 ...                          ...                 ...
95         4  2017   12                  173683.70     4148.0   319.076923     947.0      13.0 2017-12-01         NaN         NaN         NaN             NaN                                     2380.333333              68932.752823                      94818.060000                  59034.85                  168548.71                                 NaN                                 NaN                 47384.846667                 NaN
96         5  2016    1                  248834.01     5800.0   414.285714    2040.0       7.0 2016-01-01   182297.02   210579.83   202545.65   198474.166667                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN                 NaN
97         5  2016    2                  182297.02     3896.0   278.285714    1059.0      13.0 2016-02-01   210579.83   202545.65   343893.54   252339.673333                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN       198474.166667
98         5  2016    3                  210579.83     3920.0   280.000000    1287.0       4.0 2016-03-01   202545.65   343893.54   256717.01   267718.733333                                     4538.666667              33392.790308                     213903.620000                       NaN                        NaN                       239510.857778                                 NaN                          NaN       252339.673333
99         5  2016    4                  202545.65     3870.0   276.428571    1215.0       7.0 2016-04-01   343893.54   256717.01   223261.58   274624.043333                                     3895.333333              14574.363375                     198474.166667                       NaN                        NaN                       264894.150000                                 NaN                          NaN       267718.733333

[100 rows x 22 columns]

In [15]:
df_faturamento.shape

(73644, 22)

In [16]:
df_faturamento['ano_mes'].unique()

array(['2016-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-03-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### junta variáveis explicativas

In [17]:
df_faturamento = pd.merge(df_faturamento,
                          df_lojas,
                          on='cod_loja',
                          how='left')

In [18]:
df_faturamento.shape

(73644, 43)

In [19]:
df_faturamento.head()

   cod_loja   ano  mes  receita_total_loja_anomes  qtde_soma   qtde_media  qtde_min  qtde_max    ano_mes  receita_m1  receita_m2  receita_m3  receita_target  soma_quantidade_items_loja_media_movel_3_meses  receita_loja_std_3_meses  receita_loja_media_movel_3_meses  receita_loja_lag_6_meses  receita_loja_lag_12_meses  receita_target_media_movel_3_meses  receita_target_media_movel_6_meses  receita_target_lag_12_meses  receita_loja_lag_1         cod_ap  cod_municipio feature_01           feature_02  feature_03  feature_04           feature_05  feature_06  feature_07  feature_08  feature_09  feature_10 feature_11 feature_12  feature_13  feature_14  feature_15  feature_16  feature_17  feature_18  feature_04_vezes_06
0         1  2016    1                  441833.37    13034.0   931.000000    3820.0      24.0 2016-01-01   395340.22   587810.18   534618.84   505923.080000                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN                 NaN  4125506005002        4125506        NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659  115.958848    2.349821        NaN        NaN         NaN         NaN         NaN         NaN         NaN         NaN               674.56
1         1  2016    2                  395340.22    11411.0   815.071429    2637.0      24.0 2016-02-01   587810.18   534618.84   595477.92   572635.646667                                             NaN                       NaN                               NaN                       NaN                        NaN                                 NaN                                 NaN                          NaN       505923.080000  4125506005002        4125506        NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659  115.958848    2.349821        NaN        NaN         NaN         NaN         NaN         NaN         NaN         NaN               674.56
2         1  2016    3                  587810.18    15030.0  1073.571429    4251.0      71.0 2016-03-01   534618.84   595477.92   589947.05   573347.936667                                    13158.333333             100428.687433                     474994.590000                       NaN                        NaN                       550635.554444                                 NaN                          NaN       572635.646667  4125506005002        4125506        NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659  115.958848    2.349821        NaN        NaN         NaN         NaN         NaN         NaN         NaN         NaN               674.56
3         1  2016    4                  534618.84    12726.0   909.000000    3688.0       7.0 2016-04-01   595477.92   589947.05   563814.03   583079.666667                                    13055.666667              99391.933058                     505923.080000                       NaN                        NaN                       576354.416667                                 NaN                          NaN       573347.936667  4125506005002        4125506        NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659  115.958848    2.349821        NaN        NaN         NaN         NaN         NaN         NaN         NaN         NaN               674.56
4         1  2016    5                  595477.92    13978.0   998.428571    4345.0      84.0 2016-05-01   589947.05   563814.03   625181.36   592980.813333                                    13911.333333              33145.991477                     572635.646667                       NaN                        NaN                       583136.138889                                 NaN                          NaN       583079.666667  4125506005002        4125506        NaN  FEATURE_02_VALUE_04        True       21.76  FEATURE_05_VALUE_04          31    0.168922    0.167659  115.958848    2.349821        NaN        NaN         NaN         NaN         NaN         NaN         NaN         NaN               674.56

#### separa base em treino e teste

In [20]:
df_train = df_faturamento.loc[df_faturamento['ano_mes'] <= '2017-09-01']
df_test = df_faturamento.loc[df_faturamento['ano_mes'] == '2017-12-01']

In [21]:
df_train.shape

(64313, 43)

In [22]:
df_train = df_train.loc[(~df_train['receita_target'].isnull())]

In [23]:
df_train.shape

(64283, 43)

In [24]:
df_test.shape

(3123, 43)

In [25]:
df_train['ano_mes'].unique()

array(['2016-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-03-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [26]:
df_test['ano_mes'].unique()

array(['2017-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

#### Divide dados em variáveis explicativas e target

In [27]:
X_train = df_train[lista_vars_explicativas].copy()
y_train = df_train[['receita_target']].copy()

X_test = df_test[lista_vars_explicativas].copy()
y_test = df_test[['receita_target']].copy()

print (f'X_train: {X_train.shape}')
print (f'y_train: {y_train.shape}')
print (f'X_test: {X_test.shape}')
print (f'y_test: {y_test.shape}')

X_train: (64283, 19)
y_train: (64283, 1)
X_test: (3123, 19)
y_test: (3123, 1)

#### Out of time Cross Validation

In [28]:
folds = TimeSeriesSplit(n_splits=n_fold)

splits = folds.split(X_train, y_train)
y_preds = np.zeros(X_test.shape[0])
y_oof = np.zeros(X_train.shape[0])
columns = X_train.columns.tolist()

feature_importances = pd.DataFrame()
feature_importances['feature'] = columns
mean_score = []
for fold_n, (train_index, valid_index) in enumerate(splits):
    print('Fold:',fold_n+1)
    X_train_tmp, X_valid_tmp = X_train[columns].iloc[train_index], X_train[columns].iloc[valid_index]
    y_train_tmp, y_valid_tmp = y_train.iloc[train_index], y_train.iloc[valid_index]
    dtrain = lgb.Dataset(X_train_tmp, label=y_train_tmp)
    dvalid = lgb.Dataset(X_valid_tmp, label=y_valid_tmp)
    clf = lgb.train(params, dtrain, 10000, valid_sets = [dtrain, dvalid], early_stopping_rounds = 50, verbose_eval=100)
    feature_importances[f'fold_{fold_n + 1}'] = clf.feature_importance()
    y_pred_valid = clf.predict(X_valid_tmp,num_iteration=clf.best_iteration)
    y_oof[valid_index] = y_pred_valid
    val_score = np.sqrt(mean_squared_error(y_pred_valid, y_valid_tmp))
    print(f'val rmse score is {val_score}')
    mean_score.append(val_score)
    y_preds += clf.predict(X_test[columns], num_iteration=clf.best_iteration)/n_fold
    del X_train_tmp, X_valid_tmp, y_train_tmp, y_valid_tmp
    gc.collect()
print('mean rmse score over folds is',np.mean(mean_score))
df_test['pred'] = y_preds

Fold: 1
Training until validation scores don't improve for 50 rounds
[100]	training's rmse: 14136.6	valid_1's rmse: 15784.1
[200]	training's rmse: 10162	valid_1's rmse: 11659.4
[300]	training's rmse: 9123.75	valid_1's rmse: 10978.4
[400]	training's rmse: 8499.23	valid_1's rmse: 10530.3
[500]	training's rmse: 8053.37	valid_1's rmse: 10319.5
[600]	training's rmse: 7687.09	valid_1's rmse: 10169.5
[700]	training's rmse: 7386.92	valid_1's rmse: 10062.8
[800]	training's rmse: 7124.3	valid_1's rmse: 9941.86
[900]	training's rmse: 6867.06	valid_1's rmse: 9806.57
[1000]	training's rmse: 6640.9	valid_1's rmse: 9720.92
[1100]	training's rmse: 6431.33	valid_1's rmse: 9641.34
[1200]	training's rmse: 6232.53	valid_1's rmse: 9558.56
[1300]	training's rmse: 6074.24	valid_1's rmse: 9515.04
[1400]	training's rmse: 5909.95	valid_1's rmse: 9474.14
[1500]	training's rmse: 5763.42	valid_1's rmse: 9425.81
[1600]	training's rmse: 5631.35	valid_1's rmse: 9387.76
[1700]	training's rmse: 5502.99	valid_1's rmse: 9356.77
[1800]	training's rmse: 5382.93	valid_1's rmse: 9319.76
[1900]	training's rmse: 5271.52	valid_1's rmse: 9282.63
[2000]	training's rmse: 5171.71	valid_1's rmse: 9256.56
[2100]	training's rmse: 5077.41	valid_1's rmse: 9231.59
[2200]	training's rmse: 4985.19	valid_1's rmse: 9204.17
[2300]	training's rmse: 4900.84	valid_1's rmse: 9182.08
[2400]	training's rmse: 4815.44	valid_1's rmse: 9150.79
[2500]	training's rmse: 4741.66	valid_1's rmse: 9135.08
[2600]	training's rmse: 4670.9	valid_1's rmse: 9112.18
[2700]	training's rmse: 4598.58	valid_1's rmse: 9096.46
[2800]	training's rmse: 4524.99	valid_1's rmse: 9079.81
[2900]	training's rmse: 4455.72	valid_1's rmse: 9073.27
[3000]	training's rmse: 4386.38	valid_1's rmse: 9062.36
[3100]	training's rmse: 4319.95	valid_1's rmse: 9048.77
[3200]	training's rmse: 4252.89	valid_1's rmse: 9031.21
[3300]	training's rmse: 4196.44	valid_1's rmse: 9017.4
[3400]	training's rmse: 4140.63	valid_1's rmse: 9003.62
[3500]	training's rmse: 4086.4	valid_1's rmse: 8989.95
[3600]	training's rmse: 4025.93	valid_1's rmse: 8979.88
[3700]	training's rmse: 3975.7	valid_1's rmse: 8967.36
[3800]	training's rmse: 3924.37	valid_1's rmse: 8960.12
[3900]	training's rmse: 3871.77	valid_1's rmse: 8948.56
[4000]	training's rmse: 3821.8	valid_1's rmse: 8940.03
[4100]	training's rmse: 3769.91	valid_1's rmse: 8925.77
[4200]	training's rmse: 3725.2	valid_1's rmse: 8919.72
[4300]	training's rmse: 3677.77	valid_1's rmse: 8910.1
[4400]	training's rmse: 3633.76	valid_1's rmse: 8903.17
[4500]	training's rmse: 3590.8	valid_1's rmse: 8898.87
[4600]	training's rmse: 3551.26	valid_1's rmse: 8891.47
[4700]	training's rmse: 3510.43	valid_1's rmse: 8884.28
[4800]	training's rmse: 3471.15	valid_1's rmse: 8871.92
[4900]	training's rmse: 3433.53	valid_1's rmse: 8861.95
[5000]	training's rmse: 3399.43	valid_1's rmse: 8853.7
[5100]	training's rmse: 3361.98	valid_1's rmse: 8845.78
[5200]	training's rmse: 3324.32	valid_1's rmse: 8841.75
[5300]	training's rmse: 3285.46	valid_1's rmse: 8835.31
Early stopping, best iteration is:
[5294]	training's rmse: 3287.65	valid_1's rmse: 8835.14
val rmse score is 8835.140434426095
Fold: 2
Training until validation scores don't improve for 50 rounds
[100]	training's rmse: 13665.9	valid_1's rmse: 13418.8
[200]	training's rmse: 9795.19	valid_1's rmse: 10141.8
[300]	training's rmse: 8859.66	valid_1's rmse: 9475.17
[400]	training's rmse: 8320.64	valid_1's rmse: 9114.25
[500]	training's rmse: 7905.74	valid_1's rmse: 8860.65
[600]	training's rmse: 7585.74	valid_1's rmse: 8679.44
[700]	training's rmse: 7316.04	valid_1's rmse: 8538.89
[800]	training's rmse: 7068.44	valid_1's rmse: 8392.13
[900]	training's rmse: 6851.68	valid_1's rmse: 8276.2
[1000]	training's rmse: 6674.93	valid_1's rmse: 8176.47
[1100]	training's rmse: 6507.43	valid_1's rmse: 8080.6
[1200]	training's rmse: 6362.05	valid_1's rmse: 8001.44
[1300]	training's rmse: 6227.01	valid_1's rmse: 7925.43
[1400]	training's rmse: 6102.18	valid_1's rmse: 7869.23
[1500]	training's rmse: 5983.5	valid_1's rmse: 7807.79
[1600]	training's rmse: 5879.78	valid_1's rmse: 7754.69
[1700]	training's rmse: 5776.29	valid_1's rmse: 7716.02
[1800]	training's rmse: 5681	valid_1's rmse: 7669.06
[1900]	training's rmse: 5591.03	valid_1's rmse: 7621.76
[2000]	training's rmse: 5504.86	valid_1's rmse: 7584.63
[2100]	training's rmse: 5427.88	valid_1's rmse: 7552.57
[2200]	training's rmse: 5351.31	valid_1's rmse: 7524.97
[2300]	training's rmse: 5273.18	valid_1's rmse: 7492.66
[2400]	training's rmse: 5203.34	valid_1's rmse: 7464.18
[2500]	training's rmse: 5133.55	valid_1's rmse: 7438.07
[2600]	training's rmse: 5064.29	valid_1's rmse: 7415.54
[2700]	training's rmse: 5005.26	valid_1's rmse: 7389.81
[2800]	training's rmse: 4947.14	valid_1's rmse: 7375.13
[2900]	training's rmse: 4891.79	valid_1's rmse: 7357.06
[3000]	training's rmse: 4835.09	valid_1's rmse: 7341.48
[3100]	training's rmse: 4779.13	valid_1's rmse: 7320.46
[3200]	training's rmse: 4725.19	valid_1's rmse: 7305.05
[3300]	training's rmse: 4673.79	valid_1's rmse: 7290.29
[3400]	training's rmse: 4624.58	valid_1's rmse: 7277.88
[3500]	training's rmse: 4578.28	valid_1's rmse: 7265.41
[3600]	training's rmse: 4532.1	valid_1's rmse: 7248.72
[3700]	training's rmse: 4487.57	valid_1's rmse: 7234.12
[3800]	training's rmse: 4443.16	valid_1's rmse: 7220.32
[3900]	training's rmse: 4395.91	valid_1's rmse: 7204.71
[4000]	training's rmse: 4355.02	valid_1's rmse: 7190.3
[4100]	training's rmse: 4317.51	valid_1's rmse: 7178.15
[4200]	training's rmse: 4279.09	valid_1's rmse: 7168.08
[4300]	training's rmse: 4239.77	valid_1's rmse: 7156.02
[4400]	training's rmse: 4202.23	valid_1's rmse: 7147.06
[4500]	training's rmse: 4165.06	valid_1's rmse: 7137.97
[4600]	training's rmse: 4127.77	valid_1's rmse: 7129.59
[4700]	training's rmse: 4093.99	valid_1's rmse: 7124.43
[4800]	training's rmse: 4060.37	valid_1's rmse: 7114.92
[4900]	training's rmse: 4029.8	valid_1's rmse: 7108.62
[5000]	training's rmse: 3997.21	valid_1's rmse: 7100.88
[5100]	training's rmse: 3964	valid_1's rmse: 7096.99
[5200]	training's rmse: 3928.39	valid_1's rmse: 7093.96
[5300]	training's rmse: 3896.67	valid_1's rmse: 7089.65
Early stopping, best iteration is:
[5343]	training's rmse: 3884.47	valid_1's rmse: 7086.72
val rmse score is 7086.720341413141
Fold: 3
Training until validation scores don't improve for 50 rounds
[100]	training's rmse: 12947.9	valid_1's rmse: 15538.2
[200]	training's rmse: 9249.23	valid_1's rmse: 10866.6
[300]	training's rmse: 8394.44	valid_1's rmse: 10026.8
[400]	training's rmse: 7900.01	valid_1's rmse: 9620.66
[500]	training's rmse: 7553.87	valid_1's rmse: 9378.79
[600]	training's rmse: 7289.97	valid_1's rmse: 9196.41
[700]	training's rmse: 7068.53	valid_1's rmse: 9060.19
[800]	training's rmse: 6862.65	valid_1's rmse: 8916.67
[900]	training's rmse: 6680.42	valid_1's rmse: 8802.33
[1000]	training's rmse: 6519.25	valid_1's rmse: 8710.53
[1100]	training's rmse: 6368.28	valid_1's rmse: 8614.71
[1200]	training's rmse: 6233.58	valid_1's rmse: 8532.66
[1300]	training's rmse: 6115.04	valid_1's rmse: 8484.02
[1400]	training's rmse: 6005.09	valid_1's rmse: 8423.81
[1500]	training's rmse: 5913.45	valid_1's rmse: 8378.55
[1600]	training's rmse: 5814.47	valid_1's rmse: 8342.21
[1700]	training's rmse: 5729.78	valid_1's rmse: 8307.94
[1800]	training's rmse: 5641.35	valid_1's rmse: 8273.08
[1900]	training's rmse: 5566.68	valid_1's rmse: 8253.82
[2000]	training's rmse: 5493.05	valid_1's rmse: 8218.59
[2100]	training's rmse: 5424.27	valid_1's rmse: 8186.57
[2200]	training's rmse: 5353.27	valid_1's rmse: 8156.36
[2300]	training's rmse: 5290.09	valid_1's rmse: 8132.29
[2400]	training's rmse: 5231.51	valid_1's rmse: 8109.03
[2500]	training's rmse: 5169.87	valid_1's rmse: 8086.54
[2600]	training's rmse: 5113.2	valid_1's rmse: 8058.77
[2700]	training's rmse: 5058.88	valid_1's rmse: 8035.78
[2800]	training's rmse: 5005.95	valid_1's rmse: 8021.01
[2900]	training's rmse: 4955.82	valid_1's rmse: 7999.47
[3000]	training's rmse: 4905.66	valid_1's rmse: 7990.89
[3100]	training's rmse: 4858.38	valid_1's rmse: 7972.75
[3200]	training's rmse: 4809.85	valid_1's rmse: 7956.41
[3300]	training's rmse: 4763.3	valid_1's rmse: 7941.08
[3400]	training's rmse: 4719.37	valid_1's rmse: 7932.02

[3500]	training's rmse: 4678.84	valid_1's rmse: 7918.2
[3600]	training's rmse: 4637.59	valid_1's rmse: 7909.92
[3700]	training's rmse: 4599.51	valid_1's rmse: 7894.51
[3800]	training's rmse: 4559.32	valid_1's rmse: 7883.44
[3900]	training's rmse: 4522.18	valid_1's rmse: 7872.59
[4000]	training's rmse: 4486.26	valid_1's rmse: 7863.85
[4100]	training's rmse: 4453.3	valid_1's rmse: 7854.81
[4200]	training's rmse: 4418	valid_1's rmse: 7846.24
[4300]	training's rmse: 4387.01	valid_1's rmse: 7838.2
Early stopping, best iteration is:
[4338]	training's rmse: 4374.25	valid_1's rmse: 7833.64
val rmse score is 7833.640399740041
Fold: 4
Training until validation scores don't improve for 50 rounds
[100]	training's rmse: 13133.2	valid_1's rmse: 12751.9
[200]	training's rmse: 9347.21	valid_1's rmse: 9384.68
[300]	training's rmse: 8434.19	valid_1's rmse: 8757.94
[400]	training's rmse: 7935.12	valid_1's rmse: 8439.67
[500]	training's rmse: 7592.34	valid_1's rmse: 8308.65
[600]	training's rmse: 7291.75	valid_1's rmse: 8151.14
Early stopping, best iteration is:
[601]	training's rmse: 7288.08	valid_1's rmse: 8147.68
val rmse score is 8147.679962266376
Fold: 5
Training until validation scores don't improve for 50 rounds
[100]	training's rmse: 12744	valid_1's rmse: 18559.4
[200]	training's rmse: 9083.48	valid_1's rmse: 15939
[300]	training's rmse: 8263.01	valid_1's rmse: 15427.2
[400]	training's rmse: 7809.52	valid_1's rmse: 15204
[500]	training's rmse: 7500.34	valid_1's rmse: 15042.4
[600]	training's rmse: 7234.36	valid_1's rmse: 15020
[700]	training's rmse: 7012.8	valid_1's rmse: 14941.5
[800]	training's rmse: 6816.55	valid_1's rmse: 14886.3
[900]	training's rmse: 6641.89	valid_1's rmse: 14838.2
[1000]	training's rmse: 6484.18	valid_1's rmse: 14784.8
[1100]	training's rmse: 6346.55	valid_1's rmse: 14736.6
[1200]	training's rmse: 6229.97	valid_1's rmse: 14704.3
[1300]	training's rmse: 6119.64	valid_1's rmse: 14664.9
[1400]	training's rmse: 6021.25	valid_1's rmse: 14649.5
Early stopping, best iteration is:
[1389]	training's rmse: 6032.4	valid_1's rmse: 14649
val rmse score is 14649.044985916064
mean rmse score over folds is 9310.445224752342

<ipython-input-28-06f5048668b2>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['pred'] = y_preds

#### Prepara dados de teste para output

In [29]:
df_resultados = df_test.copy()
df_resultados['pred'] = y_preds
df_resultados = df_resultados.reset_index()
df_resultados = df_resultados[['cod_loja', 'pred']].copy()
df_resultados.columns = ['cod_loja', 'faturamento']

In [30]:
df_resultados.head(100)

    cod_loja    faturamento
0          1  282916.965038
1          2   83572.813836
2          3  230192.906579
3          4   88639.154186
4          5  207483.192548
..       ...            ...
95       112  103023.708435
96       113  235201.327003
97       114  101710.280181
98       115   88547.795238
99       116  229676.237973

[100 rows x 2 columns]

In [31]:
df_resultados.shape

(3123, 2)

In [32]:
#df_resultados['faturamento'] = 0

In [33]:
df_resultados.shape

(3123, 2)

In [34]:
df_resultados.head()

   cod_loja    faturamento
0         1  282916.965038
1         2   83572.813836
2         3  230192.906579
3         4   88639.154186
4         5  207483.192548

#### Salva resultado das predições em um csv

In [35]:
df_resultados.to_csv('desafio_1.csv', sep=';', index=False)

#### Importância das variáveis explicativas

In [36]:
feature_importances

                                           feature  fold_1  fold_2  fold_3  fold_4  fold_5
0                                    cod_municipio    1739    1792    1487     174     455
1                                              mes    4211    4799    4082     881    1634
2                                       qtde_media    1189    1073     741      83     178
3                                        qtde_soma    1134    1070     693     145     308
4                                         qtde_max    1154    1062     746      71     183
5                                         qtde_min    1982    1788    1386     167     457
6                                       feature_04    1264    1097     871     142     323
7                                       feature_08     957     805     668      39     152
8                                       feature_09    1294    1331    1052      79     242
9                                       feature_14     969     946     724      63     104
10                                      feature_18    1044    1173     888      38     177
11                             feature_04_vezes_06    1213    1328    1068     207     348
12                     receita_target_lag_12_meses    1584    1396    1149     164     376
13                        receita_loja_std_3_meses    2391    2233    1838     249     535
14              receita_target_media_movel_3_meses    5127    5386    4645     675    1603
15                       receita_total_loja_anomes    3133    3296    2540     348     961
16                receita_loja_media_movel_3_meses    2140    2369    2062     133     431
17  soma_quantidade_items_loja_media_movel_3_meses    1204    1222     735      68     229
18                              receita_loja_lag_1    3329    3235    2991     481    1027