In [18]:
import pandas as pd
import os

In [28]:
teste = [1,2,3,1]

series = pd.Series(teste)

In [29]:
series

0    1
1    2
2    3
3    1
dtype: int64

In [30]:
series.sort_values()

0    1
3    1
1    2
2    3
dtype: int64

In [43]:
series.apply(lambda x: x+1)

   0
0  2
1  3
2  4
3  2

In [35]:
df = pd.DataFrame(teste)
df

   0
0  1
1  2
2  3
3  1

In [42]:
df.loc[0,0]

1

In [44]:
df['novo'] = df.iloc[:, 0].apply(lambda x: x+1)

In [48]:
df.dtypes

0       int64
novo    int64
dtype: object