### Imports

In [1]:
import numpy as np
import pandas as pd

### Weight of evidence (WOE) and Information value (IV)

In [2]:
df = pd.DataFrame({'Rating': np.random.choice(['A', 'B', 'C', 'D'], size=(100)),
                   'Default': np.random.choice([0,1], size=(100))})

df.head()

  Rating  Default
0      D        0
1      A        1
2      C        0
3      C        0
4      B        1

In [3]:
feature,target = 'Rating', 'Default'
pd.crosstab(df[feature], df[target], normalize='columns')

Default         0         1
Rating
A        0.196078  0.285714
B        0.274510  0.224490
C        0.313725  0.183673
D        0.215686  0.306122

In [4]:
df_woe_iv = (pd.crosstab(df[feature], df[target], normalize='columns')
             .assign(woe=lambda dfx: np.log(dfx[1] / dfx[0]))
             .assign(iv=lambda dfx: np.sum(dfx['woe']*(dfx[1]-dfx[0]))))

df_woe_iv

Default         0         1       woe        iv
Rating
A        0.196078  0.285714  0.376478  0.145099
B        0.274510  0.224490 -0.201157  0.145099
C        0.313725  0.183673 -0.535359  0.145099
D        0.215686  0.306122  0.350160  0.145099